<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Cesar Villamil Ruz </div>
    <div class="list-group list-group-flush">
        <a href="@Url.Action("Index", "Peliculas")" class="list-group-item list-group-item-action bg-light">Inicio</a>
        <a href="@Url.Action("Create", "Peliculas")" class="list-group-item list-group-item-action bg-light">Registrar</a>
       
    </div>
</div>
